/* 全体の背景グラデーション */
body {
  background-image: linear-gradient(to bottom, #0066FF, #FFFF33);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ログインフォームの中央揃え */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  /* 半透明のグレー色 */
  padding: 20px;
  border-radius: 10px;
}

/* 各要素のマージン調整 */
label,
input[type="text"],
input[type="password"],
button,
p {
  margin: 10px;
}

/* 白色のテキスト */
label,
button,
p a {
  color: #ffffff;
}

.welcome-text {
  color: #ffffff;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ログインボタンのスタイル */
input[type="submit"] {
  background-color: #FF3366;
  color: #ffffff;
  border: none;
  /* ボタンの黒い枠線を削除 */
  align-self: flex-end;
  border-radius: 5px;
  /* 角丸に設定 */
}

.button-container {
  text-align: right;
  width: 100%;
}

/* 中央揃え、色白、太めのテキスト */
#clear>p:nth-child(-n+2) {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

/* 中央揃え、色白のテキスト */
#clear>p:nth-child(n+3) {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  /* これで間隔を空けます */
}

/* ボタンのスタイル調整 */
#clear .btn {
  text-align: center;
  /* ボタンの中央揃え */
}

/* ログインボタンと同じスタイルのリンク */
#clear .btn a {
  display: inline-block;
  /* これで背景色がテキストの周囲だけでなくボタン全体に適用されます */
  background-color: #FF3366;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  /* ボタンとテキストとの間隔を空けます */

  /* 角丸に設定 */
}
